@import "../../css/units.css";

.outlined-button {
    cursor: pointer;
    border-radius: $form-radius;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
    user-select: none;
}

.button {
    transition: transform 0.15s cubic-bezier(0.63, 0.32, 0.08, 0.95);
}

.button:hover {
    transform: scale(1.02);
}

.button:active {
    transform: scale(0.95);
}

.icon {
    height: 1.5rem;
}

[dir="ltr"] .icon {
    margin-right: .5rem;
}

[dir="rtl"] .icon {
    margin-left: .5rem;
}

.content {
    white-space: nowrap;
}
